<div class="container-fluid text-center">
  <div class="col-md-8 m-auto">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1>Календарь</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Жанры
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Все</a>
          <a class="dropdown-item" href="#">Боевик</a>
          <a class="dropdown-item" href="#">Комедия</a>
          <a class="dropdown-item" href="#">Драма</a>
          <a class="dropdown-item" href="#">Фэнтези</a>
          <a class="dropdown-item" href="#">Вестерн</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-2 pr-md-0 sidenav text-left">
      <ul class="nav flex-md-column">
        <li class="nav-item">
          <a class="nav-link active pr-md-0" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-video">
              <polygon points="23 7 16 12 23 17 23 7" />
              <rect x="1" y="5" width="15" height="14" rx="2" ry="2" />
            </svg>
            Films
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-md-0" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-tv">
              <rect x="2" y="7" width="20" height="15" rx="2" ry="2" />
              <polyline points="17 2 12 7 7 2" />
            </svg>
            TVSeries
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-md-0" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-music">
              <path d="M9 17H5a2 2 0 0 0-2 2 2 2 0 0 0 2 2h2a2 2 0 0 0 2-2zm12-2h-4a2 2 0 0 0-2 2 2 2 0 0 0 2 2h2a2 2 0 0 0 2-2z" />
              <polyline points="9 17 9 5 21 3 21 15" />
            </svg>
            Music
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-8 text-left">
      <!--Releases-->
      <div class="row">
        <!--Series-->
        <div class="col-sm-6 col-xl-4">
          <div class="card mb-4 box-shadow">
            <div class="position-relative">
              <img class="card-img-top" src="https://static.lostfilm.tv/Images/307/Posters/image.jpg">
              <div class="position-absolute poster-info w-100 px-3">
                <div class="float-left">1 сезон 3 серия</div>
                <div class="float-right">20.08.2017</div>
              </div>
            </div>
            <div class="card-body">
              <h4 class="mb-0">Заложница</h4>
              <span class="text-muted">Taken</span>
              <h5 class="mb-0 mt-2">Абсолютная власть</h5>
              <span class="text-muted">Imperium</span>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <button type="button" class="btn btn-outline-secondary">Сериал</button>
                <div class="btn-group">
                  <button type="button" class="btn btn-link p-0" href="#">
                    <i class="material-icons md-36 md-dark">notifications_none</i>
                  </button>
                  <button type="button" class="btn btn-link p-0 ml-3 ml-sm-2" href="#">
                    <i class="material-icons md-36 md-dark">star_border</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Series end-->
        <!--Music-->
        <div class="col-sm-6 col-xl-4">
          <div class="card mb-4 box-shadow">
            <div class="position-relative">
              <img class="card-img-top" src="http://www.album-info.ru/Shared/Cover/2017/178272_Original.jpg">
              <div class="position-absolute poster-info w-100 px-3">
                <div class="float-right">20.08.2017</div>
              </div>
            </div>
            <div class="card-body">
              <h4 class="mb-0">Funker Vogt</h4>
              <h5 class="mb-0 mt-2">AVIATOR (COLLECTORS EDITION)</h5>
              <div class="d-flex justify-content-between align-items-center mt-3">
                <button type="button" class="btn btn-outline-secondary">Альбом</button>
                <div class="btn-group">
                  <button type="button" class="btn btn-link p-0" href="#">
                    <i class="material-icons md-36 md-dark">notifications_none</i>
                  </button>
                  <button type="button" class="btn btn-link p-0 ml-3 ml-sm-2" href="#">
                    <i class="material-icons md-36 md-dark">star_border</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Music end-->
      </div>
      <!--Releases-->
      <hr>
    </div>
    <div class="col-md-2 sidenav">
      <div class="well">
        <p>Наша прекрасная реклама</p>
      </div>
      <div class="well">
        <p>Наша прекрасная реклама</p>
      </div>
      <div class="well">
        <p>Наша прекрасная реклама</p>
      </div>
    </div>
  </div>
</div>
